fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
pyotp
qrcode[pil]
reportlab
slowapi
email-validator